
  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    background-color: beige;
    display: flex;
    margin: 0;
}
.game-intro {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-intro h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #402b58;
    font-size: 7rem;
    margin-bottom: 0;
}
.game-intro p {
    width: 30%;
    background-color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    font-weight: 600;
}
.game-intro img {
    height: 30%;
}
button {
    padding:1rem 1.2rem;
    font-size: 2rem;
    border:none;
    background-color: #c70828;
    border-radius:2em;
    text-decoration:none;
    font-family: 'Indie Flower', cursive;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
}
button:hover{
    background-color: #6e0315;
    cursor: pointer;
    }

#game-board {
    position: absolute;
}
#restart-button {
    position: relative;
    top: 75vh;
    right: 50vw;
    height: 7rem;
    width: 20rem;
}